html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 24px;
}

code {
  background-color: whitesmoke;
  color: red;
  font-weight: normal;
  padding: 2px 4px 2px;
  border-radius: 4px;
}
